.picture-scroller {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
  }
  
  .pictures {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
  }
  
  .pictures img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    border-radius: 15px;
  }
  
  .scroll-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
  }
  
  .scroll-button.left {
    left: 10px;
  }
  
  .scroll-button.right {
    right: 10px;
  }