.App {
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;  background: #00b09b;  /* fallback for old browsers */
  font: 'Roboto';
  background: -webkit-linear-gradient(#96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(#96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
  font-size: calc(3vmin);
  font-weight: bold;
  width: 100%;
  min-height: 100vh;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏄‍♂️</text></svg>") 16 0,auto; /*!emojicursor.app*/
}

.App-header {
  font: 'Roboto';
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏄‍♂️</text></svg>") 16 0,auto; /*!emojicursor.app*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100%;
}

/**************************** FRONT PAGE APP TITLE ******************************/

.App-title{
  position: relative;
  font-size:10vh;
}

.App-title :nth-child(1){
  position: absolute;
  color: transparent;
  -webkit-text-stroke: 5px white;
  -webkit-text-fill-color: white;
}
.App-title :nth-child(2){
  color: #00b09b;
  animation: animate 3s ease-in-out infinite;
}

@keyframes animate {
  0%,100%{
    clip-path: polygon(0% 45%, 15% 44%, 32% 50%,
      54% 60%, 70% 61%, 89% 59%, 100% 52%,
      100% 100%, 0% 100%);
  }
  50%{
    clip-path: polygon(0% 60%, 16% 65%, 34% 66%,
      51% 62%, 67% 50%, 84% 45%, 100% 46%,
      100% 100%, 0% 100%);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
/**************************** FRONT PAGE SIGNIN ******************************/
.signIn {
  justify-content: center;
  min-height: 8vh;
  min-width: 10vh;
  color: #00b09b;
  font-size: calc(20px + 1vmin);
  font-weight: bold;
  /*border-radius: 16px;*/
  padding: 20px;
  border: 2px solid transparent;
  border-radius: 20px;
  background-color: white;
  /*border-color: #00b09b;*/
}

.signIn:hover {
  border-color: #96c93d;
  color:#96c93d;
}

.CustomMap {
  position: relative;
  height: 500px;
  width: 1000px;
  justify-content: center;
}

/**************************** NAVIGATION BAR ******************************/

.navbar {
  background-color: white;
  color:#00b09b;
  padding-bottom: 40px;
  min-width: 600px;
}

.navbutton {
  background-color: #00b09b;
  color:white;
  font-size: x-large;
  font-weight: bold;
  padding-inline: 16px;
  padding-block: 12px;
  margin-inline: 8px;
  border-radius: 15px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.20);
}

/* unvisited link */
a:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: white;
  text-decoration: none;
  background-color: #96c93d;
}

/* selected link */
a:active {
  color: white;
  text-decoration: none;
}

/**************************** USER INPUT FIELDS ******************************/

::-webkit-datetime-edit { color:#96c93d; padding: 0 0.3em; }

input {
  resize: vertical;
  padding:15px;
  margin-inline: 20px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.20);
  height:40px;
  width: 40%;
  text-align:left;
  color:#00b09b;
  font-weight: bold;
  font-size: medium;
  
}

input::placeholder {
  color: #96c93d;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.search-filter {
  width: 20%;
}

textarea {
  width:40%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border:0;
  box-shadow:4px 4px 10px rgba(0,0,0,0.20);
  height:150px;
  margin-inline: 20px;
  margin-top: 10px;
  font-size: medium;
}

textarea::placeholder {
  color: #96c93d;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

.upload__image-wrapper {
  width:40%;
  resize: vertical;
  padding:15px;
  border-radius:15px;
  border-color: white;
  border-style: dashed;
  border:2;
  box-shadow:4px 4px 10px rgba(0,0,0,0.20);
  height:150px;
  margin-inline: 20px;
  margin-top: 10px;
  font-size: medium;
  background-color: #96c93d;
  color: white;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
}

/**************************** BASIC CSS ******************************/

p {
  padding: 2px;
  text-shadow:4px 4px 10px rgba(0,0,0,0.20);
}

span {
  text-shadow:4px 4px 10px rgba(0,0,0,0.20);
}

body {
  margin:20px;
  background-color: #fafafa;
}

button {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, 'Roboto', Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  border-style: solid;
  color:white;
  border-color: white;
  background-color: #00b09b;
  box-shadow:4px 4px 10px rgba(0,0,0,0.20);
}

footer{
  bottom: 0;
  font-size: 2vh;
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  height: 3rem;            /* Footer height */
}

.remove {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  padding: 8px;
  margin: 8px;
  border-radius: 15px;
  border-style: solid;
  color:white;
  border-color: white;
  background-color: #ff3d00;
}

/**************************** HOMEFEED ******************************/

.post-grid {     /* arbitrary styling for now no way to test it yet without actual posts and pullable collection from firebase */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  overflow-y: scroll; /* lets you scroll vertically if it runs out at the bottom */
  max-height: 500px;
  margin-inline: 40px;
}

.post {
  background-color: #fff;
  border-radius: 30px;
  box-shadow:4px 4px 10px rgba(0,0,0,0.20);
  color: #324448;
  padding: 20px;
  font-size: small;
  text-align: left;
}

.post p{
  margin-left: 30px;
}

.profilelink {
  border-color: #00b09b;
  background-color: #00b09b;
  border-radius: 15px;
  padding-block: 10px;
  padding-inline: 20px;
  margin: 5px;
}

.main-listing-image {
  display: block;
  width:280px;
  height:200px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.price {
  font-weight: bolder;
  font-size:30px;
  font: 'Roboto';
}